.ReturnedMovieCard {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.movie-card {
  background-color: #1e1f26;
  border-radius: 8px;
  overflow: hidden;
  color: #ffffff;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card-image {
  position: relative;
  overflow: hidden;
}

.movie-card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-bottom: 4px solid transparent;
  display: block;

}

.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* When favorite is true, add this style */
.bookmark-icon.favorite {
  color: red;
  /* Red color for the bookmark icon */
  background-color: rgba(255, 0, 0, 0.6);
  /* Red background */
}

.movie-card-info {
  padding: 16px;
}

.movie-card-meta {
  font-size: 14px;
  color: #b0b0b0;
  display: block;
  margin-bottom: 8px;
}

.movie-card-title {
  font-size: 18px;
  margin: 0;
}


@media (max-width: 768px) {
  .ReturnedMovieCard {
    grid-template-columns: 1fr 1fr;
  }
}