@use 'sass:map';

$colors: (
  grayishBlue: #5a698f,
  pureWhite: #ffffff,
  semiDarkBlue: #161d2f,
);

.navbarStyles {
  background-color: map.get($colors, semiDarkBlue);
  border-radius: 10pt;
  height: 80vh;
  min-width: 90px;
}

.navItem {
  color: map.get($colors, grayishBlue);

  :hover {
    color: map.get($colors, pureWhite);
    transition: color 0.3s ease;
  }
}

@media (max-width: 768px) {
  .navbarStyles {
    height: auto;
  }
}
